<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>
<h1>Create New Product</h1>
<p>
    <a th:href="@{/product}">Back to home page</a>
</p>
<form th:action="@{/product/save}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>Price</label>
        <input type="text" th:field="*{price}">
    </div>
    <div>
        <label>Description</label>
        <input type="text" th:field="*{description}">
    </div>
    <div>
        <label>Producer</label>
        <input type="text" th:field="*{producer}">
    </div>
    <input type="submit" value="Save"/>
</form>
</body>
</html>